 <li class="post-list__item leading-tight measure-long">
    <div class="container__inner flow word-balloon">
        <article class="snippet" role="article">
            <h3 class="snippet__title">
                <a href="{{ item.url }}">
                    {{ item.data.title }}
                </a>
            </h3>
            <p class="snippet__body">{{ item.data.description }}</p>
            <a href="{{ item.url }}">Continue Reading <i class="fal fa-arrow-right"></i></a>
        </article>
        <aside><img src="{{ item.data.image }}" alt="{{ item.data.imageAlt }}" class="snippet__image"></aside>
    </div>
    <p class="snippet__meta meta">
        <span class="meta__author"><i class="fas fa-typewriter"></i></i> {{ item.data.author }}</span>
        <span class="meta__date"><i class="fas fa-clock"></i> {{ item.date | htmlDateString }}</span>
        <span class="meta__tags">
            {% for tag in item.data.tags | filterTagList %}
            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <i class="fas fa-tags"></i>  <a href="{{ tagUrl | url }}" class="post-tag {{ tag | slug }}">{{ tag }}</a>
            {% endfor %}
        </span>
    </p>
</li>