<section class="articles latest">
    <div class="container__inner flow grid">
        <h2 class="section-title text-center tt-upper txc-black-50 fw-400">Latest Articles</h2>
        <hr class="h-rule bgc-secondary m-b-500">
        <ul role="list" class="articles__list flow">
            {%- for item in collections.blog | limitTo(3) -%}
               {% include '_article-snippet.njk' %}
            {%- endfor -%}
        </ul>
        <a href="/blog/" class="btn center m-t-700">See All Articles</a>
    </div>
</section>