<footer id="site__footer" class="site__footer">
    <section class="inner flow grid p-t-200 p-b-200">
        <p class="p-all-0 m-all-0">&copy;1969&dash;{% year %} {{ site.author }}</p>
    </section>
</footer>