<footer id="site__footer">
    <section class="inner flow grid">
        {% include '_brand.njk' %}
        <p class="m-all-0">&copy;1969&dash;{% year %} {{ site.author }} dba {{ site.name }}</p>
    </section>
</footer>