<footer id="site__footer">
    <section class="inner flow grid">
        {% include '_brand.njk' %}
        <p>&copy;1969&dash;{% year %} Mack Richardson dba Qube Consulting</p>
    </section>
</footer>