<header id="site__header" class="site__header" >
    <div class="wrapper">
        {% include '_brand.njk' %}
        <h1 class="m-b-200">{{ site.name }}</h1>
        <h2 class="p-l-200 p-r-200 m-all-0">{{ site.siteDescription }}</h2>   
        {% include "_tags-list.njk" %}
        {% include '_social.njk' %}
    </div>
</header>