<header id="site__header" class="site__header" >
    <div class="wrapper">
        {% include '_brand.njk' %}
        <h1 class="m-b-200">{{ site.name }}</h1>
        <h2 class="p-l-200 p-r-200 m-all-0">{{ site.siteDescription }}</h2>
        <hr class="h-rule alt m-t-300 m-b-200">        
        {% include "_tags-list.njk" %}
        <hr class="h-rule alt m-t-200 m-b-300">
        <a href="https://www.qube.consulting" class="link-qube" target="_blank"><span><i class="fas fa-cube"></i></span> Qube Consulting</a>
        <a href="https://codepen.io/mackorichardson" class="link-codepen" target="_blank"><span><i class="fab fa-codepen"></i></span> Codepen</a>
        <a href="https://github.com/macktropolis" class="link-github" target="_blank"><span><i class="fab fa-github"></i></span> Github</a>
        <a href="https://www.linkedin.com/in/macktroplis/" class="link-linkedin" target="_blank"><span><i class="fab fa-linkedin"></i></span> LinkedIn</a>
    </div>
</header>