<header id="site__header" class="site__header" >
    <div class="wrapper">
        {% include '_brand.njk' %}
        <h1>{{ site.name }}</h1>
        <hr class="h-rule alt m-t-200 m-b-400">
        <h2 class="p-l-200 p-r-200 m-all-0">{{ site.siteDescription }}</h2>
        <hr class="h-rule alt m-t-400 m-b-200">
        {% include "_tags-list.njk" %}
    </div>
</header>