<div class="page-header bgc-go-50">
  <div class="container__inner flow">
    <h1 class="page-header__heading headline m-bm-zed" data-highlight="primary">
      {{ title }}
    </h1>
    {% if description %}
    <p class="page-header__summary measure-long m-tp-sm m-bm-zed">
      {{ description }}
    </p>
    {% endif %}
  </div>
</div>
