<input id="nav-toggle" class="nav-toggle" type="checkbox">
<nav class="nav site-nav">
    <ul role="list" class="nav__list">
        {%- for item in navigation.items -%}
        <li class="nav__item">
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
        </li>
        {%- endfor -%}
    </ul>
</nav>
<label for="nav-toggle" class="nav-toggle-label"><span></span></label>