<a href="https://www.qube.consulting" class="link-qube" target="_blank"><span><i class="fas fa-cube"></i></span> Qube Consulting</a>
<a href="https://codepen.io/mackorichardson" class="link-codepen" target="_blank"><span><i class="fab fa-codepen"></i></span> Codepen</a>
<a href="https://github.com/macktropolis" class="link-github" target="_blank"><span><i class="fab fa-github"></i></span> Github</a>
<a href="https://www.linkedin.com/in/macktroplis/" class="link-linkedin" target="_blank"><span><i class="fab fa-linkedin"></i></span> LinkedIn</a>