<section class="tags">
{% for tag in collections.tagList %}
    <span>
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <i class="fas fa-tags"></i> <a href="{{ tagUrl | url }}" class="post-tag {{ tag | slug }}">{{ tag }}</a>
    </span>
{% endfor %}
</section>