{% include '_site-head.njk' %}
<body class="site{% if pageClass %} {{pageClass}}{% endif %}">

    <section class="site__wrapper">
        {% include '_header.njk' %}
        <main tabindex="-1" id="site__content">
            <div id="content">
                {% include '_topper.njk' %}
                <a name="home" id="anchor--home">Home</a>
                {{ content | safe }}
                {% include '_footer.njk' %}
            </div>
        </main>
    </section>
    {% include '_scripts.njk' %}

</body>
</html>