{% include '_site-head.njk' %}
<body class="site{% if pageClass %} {{pageClass}}{% endif %}">

    <section class="site__wrapper">
        {% include '_header.njk' %}
        <main tabindex="-1" class="site__content" id="content">
            {% include '_topper.njk' %}
            <a name="home" id="anchor--home">Home</a>
            {{ content | safe }}
            {% include '_footer.njk' %}
        </main>
    </section>
    {% include '_scripts.njk' %}

</body>
</html>