---
layout: 'base.njk'
pageClass: 'home'
---

{% set postListItems = pagination.items %}

{% block content %}
    {{ content | safe }}
{% endblock %}

{# include '_articles-featured.njk' #}
{% include '_articles-all.njk' %}
