---
layout: 'base.njk'
pageClass: 'home'
---

{% set postListItems = pagination.items %}

{% block content %}
    {{ content | safe }}
{% endblock %}

{% include '_articles-featured.njk' %}

{% set ctaContent = primaryCTA %} 
{% include "_cta.njk" %} 

{% include '_articles-latest.njk' %}
