@use 'helpers/' as *;
/* --------------------------------------------------------
4.0 Layout
    ├── 4.1 Flexbox
    ├── 4.2 Floats
    ├── 4.3 Flow
    ├── 4.4 Grid
    ├── 4.5 Site Content
    ├── 4.6 Site Header
    └── 4.7 Site Footer
-------------------------------------------------------- */

/* --------------------------------------------------------
4.0 Layout
#layout
-------------------------------------------------------- */

// 4.1  Flexbox
// #flexbox
// --------------------------------------------------------
.flex {
    display: flex;
    align-items: center;
    gap: var(--flow-400);
    flex-direction: row;
    justify-content: center;
}

// 4.2 Floats
// #floats
// --------------------------------------------------------
.float {
    display: block;
    float: none;
    margin-bottom: var(--flow-200);
    margin-top: var(--flow-200);

    @include media('>=desktop') {
        float: left;
        margin-right: var(--flow-300);
        width: 40%;
    }

    &.right {
        @include media('>=desktop') {
            float: right;
            margin-left: var(--flow-400);
            margin-right: 0;
        }
    }

    & > img {
        display: block;
        height: 100%;
        object-position: contain;
        width: 100%;
    }

    .caption {
        color: hsl( var(--clr-black) / .80 );
        font-style: oblique;
        display: block;
        text-align: center;
    }
}

// 4.3  Flow
// #flow
// --------------------------------------------------------
.flow {
    padding: var(--flow-300) var(--flow-200);
}

// 4.4  Grid
// #grid
// --------------------------------------------------------
.grid {
    display: grid;
    align-items: center;
    gap: var(--flow-200);
    grid-template-columns: auto;
    justify-content: center;

    & > .center {
        justify-self: center;
    }
}

// 4.4  Site Wrapper
// #site-wrapper
// --------------------------------------------------------
.site__wrapper {
    padding-left: var(--flow-100);
    padding-right: var(--flow-100);
    position: relative;

    @include media('>=desktop') {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;

        @include center-margins;

        & > #site__header { flex: 1 1 30%; }
        & > #site__content { flex: 1 1 70%; }
    }
}

// 4.5  Site Content
// #content
// --------------------------------------------------------
#content {
    position: relative;

    @include media('>=desktop') {
        max-width: 125ch;
        width: 90%;
    }
}

// 4.6  Container Wrapper
// #container #wrapper
// --------------------------------------------------------
.container {
    padding: 0;
    position: relative;

    &.bg {
        background-color: hsl( var(--clr-surface) );
        color: hsl( var(--clr-white) );

        &.invert {
            background-color: hsl( var(--clr-surface) );
            color: var(--clr-bw-900);
        }
    }

    &__inner {
        padding: var( --flow-700 );
        position: relative;
        width: 100%;
        z-index: 1;

        @include center-margins;
    }
}

// 4.7 Site Header
// #site-header
// --------------------------------------------------------
header#site__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--flow-300);
    padding-top: var(--flow-500);
    position: relative;
    text-align: center;
    transition: all ease-in-out 255ms;
    width: 100%;

    @include media('>=desktop'){
        align-items: flex-end;
        margin-bottom: 0;
        padding-right: var(--flow-100);
        padding-top: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        @include media('>=desktop') {
            position: fixed;
            width: 300px;
        }

        h1 {
            color: hsl( var(--clr-black) / .75 );
            line-height: 90%;
            text-shadow: 1px 1px 0 hsl( var(--clr-white) / 1);
        }
    
        h2, p {
            color: hsl( var(--clr-black) / .5);
            font-family: var(--ff-sans);
            font-size: var(--fs-50);
            font-weight: var(--fw-400);
            text-shadow: 1px 1px 0 hsl( var(--clr-white) / 1);
        }

        img {
            margin-bottom: var(--flow-100);
            margin-top: 100px;
        }
    }
}

// 4.8 Site Footer
// #site-footer
// --------------------------------------------------------
footer#site__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;

    @include media('>=desktop') {
        position: sticky;
    }

    &::before {
        background-color: transparent;
        box-shadow: 0 0 5px hsl( var(--clr-black) / .5);
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        left: 10px;
        right: 10px;
        top: 0;
        z-index: -1;
    }

    section {
        background-color: hsl( var(--clr-white) );
        color: hsl( var(--clr-black) / .5);
        text-align: center;
        text-shadow: 1px 1px 0 hsl( var(--clr-white) / 1);
        width: 99.5%;

        @include add-noise;

        &.grid {
            gap: var(--flow-sm);
        }

        &.flow {
            margin-bottom: 0;
        }

        .brand {
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}