@use 'helpers/' as *;
/* --------------------------------------------------------
5.0 Components
    ├── 5.2 Brand
    ├── 5.3 Call to Action
    ├── 5.4 Jumbotron
    ├── 5.5 Naviation
    |   ├── 5.5.1 Current Page
    |   ├── 5.5.2 Base Navigation
    |   └── 5.5.3 Navigation for Tablet+ Screen Sizes
-------------------------------------------------------- */

/* --------------------------------------------------------
5.0 Components
#components
-------------------------------------------------------- */
// 5.2 Brand
// #brand
// --------------------------------------------------------
.brand {
    align-items: center;
    display: flex;
    padding-left: var(--flow-200);
    padding-right: var(--flow-200);
    text-align: center;

    &#logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: var(--sidebar-width);
        justify-content: center;
        width: 100%;
        
        .rays {
            animation: rotateCircle 45s linear reverse infinite;
            position: absolute;
            top: 0;
            transform-origin: 50% 50%;
            width: var(--sidebar-width);
            z-index: -10;
        } // .rays
        
        img {
            display: block;
            height: auto;
            width: 200px;
        } // img
    }
}

// 5.3 Call to Action
// #cta
// --------------------------------------------------------
.cta {
    background-color: hsl( var(--clr-primary) );
    color: hsl( var(--clr-white) );

    & > .container__inner {
        max-width: var(--width-900);

        h2 {
            font-size: var(--flow-300);
            margin-bottom: var(--flow-50);
        }

        p {
            margin-bottom: var(--flow-300);
        }
    }
}

// 5.4 Jumbotron
// #jumbotron
// --------------------------------------------------------
#jumbotron {
    isolation: isolate;
    padding: 0;
    padding-bottom: var(--flow-900);
    padding-top: var(--flow-900);
    position: relative;

    &::before {
        background: 
            linear-gradient(
                0deg,
                hsl( var(--clr-black) / 0.8 ),
                hsl( var(--clr-black) / 0.8 )
            );
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
        z-index: -1;
    }

    .container__inner {    
        display: flex;
        flex-direction: column-reverse;
        gap: var(--flow-200);
        margin: var(--flow-300);
        max-width: var(--width-900);
        padding: 0;

        @include center-margins;

        .flow {
            padding-top: 0;
            padding-bottom: 0;
        }

        h1, h2, h3, h4, h5, h6 {
            color: var(--clr-white);
            font-size: var(--fs-400);
            margin-bottom: var(--flow-200);
            text-align: center;

            @include media('>=desktop') {
                margin-bottom: var(--flow-50);
                text-align: left;
            }
        }

        aside > img {
            display: block;
            height: 100%;
            object-fit: contain;
            width: 100%;
            max-width: 80%;

            @include center-margins;
        }

        aside > .logo {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(326deg) brightness(103%) contrast(106%);
        }

        .meta {
            color: hsl( var(--clr-white) / .75);
        }
    }

    @include media('>=desktop') {
        .container__inner {
            flex-wrap: wrap;
            flex-flow: row-reverse;

            & > *:nth-child(1) {
                flex: 1 1 70%;
                min-width: 25ch;
            }

            & > *:nth-child(2) {
                flex: 1 1 30%;
                min-width: 15ch;
            }
        }
    }

    &.article__header {
        padding-bottom: 0;
        padding-top: 0;
    }
}

// 5.5 Navigation
// #cta
// --------------------------------------------------------

// 5.5.1 Current Page
// #current-page
// --------------------------------------------------------
.nav {

    &__item {

        [aria-current="page"] {
            color: hsl( var(--clr-secondary));
        }
    }
}

// 5.5.2 Base Navigation
// #base-nav
// --------------------------------------------------------
nav.site-nav {
    align-items: center;
    display: flex;
    justify-content: center;
    
    ul {
        background-color: transparent;
        list-style-type: none;
        display: flex;

        li {
            font-size: var(--fs-100);
            @include media('>=desktop') {
                font-size: var(--fs-200);
            }
            font-weight: var(--fw-900);
            margin: 0;
            padding: 0 var(--flow-200);
            text-align: center;

            a {
                color: hsl( var(--clr-black) / .7 );
                opacity: 1;
                position: relative;
            }

            a:hover {
                color: hsl( var(--clr-secondary));
            }
        }
    }
}

// 5.6 Content Topper
// #topper
// --------------------------------------------------------
.topper {
    background-color: hsl( var(--clr-white) );
    position: fixed;
    top: 0;
    left: 10px;
    width: 98%;
    z-index: 100;

    @include add-noise;

    @include media('>=desktop') {
        position: sticky;
        left: -10px;
        right: -10px;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    &::before {
        background-color: transparent;
        box-shadow: 0 0 5px hsl( var(--clr-black) / .5);
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        left: 5px;
        right: 10px;
        bottom: 0;
        z-index: -1;

        @include media('>=desktop') {
            display: block;        }
    }

    section {
        background-color: hsl( var(--clr-white) );
        color: hsl( var(--clr-black) / .5);
        text-align: center;
        text-shadow: 1px 1px 0 hsl( var(--clr-white) / 1);
        width: 99.5%;

        @include add-noise;

        &.grid {
            gap: var(--flow-sm);
        }

        &.flow {
            margin-bottom: 0;
        }
    }
}