@use 'helpers/' as *;
/* --------------------------------------------------------
6.0 Blog
    ├── 6.1 Articles List
    |   └── 6.1.1 Articles List for Blog Page
    ├── 6.2 Article Meta
    ├── 6.3 Main Article Page
    ├── 6.4 Tags
    └── 6.5 Pagination
-------------------------------------------------------- */

/* --------------------------------------------------------
6.0 Blog
#blog
-------------------------------------------------------- */

// 6.1 Articles List
// #articles
// --------------------------------------------------------
.articles {
    min-height: 100vh;
    padding: 0;
    width: 95%;

    @include center-margins;

    @include media('>=desktop') {
        margin-left: 0;
        padding-left: calc( var(--flow-200) * 3 );
        padding-top: var(--flow-300);
        width: 97%;
    }

    .section-title {
        font-size: var(--fs-100);
    }

    .articles__list {
        list-style: none;
        margin: 0;
        padding: 0 0 var(--flow-600) 0;

        @include media('>=desktop') {
            padding-bottom: 0;
        }

        li {
            margin: 0 0 var(--flow-300) 0;
            padding: 0;

            .container__inner {
                background-color: hsl( var(--clr-white) );
                background-image: linear-gradient(transparent, hsl( var(--clr-black)/.075 ));
                border: var(--flow-50) solid hsl( var(--clr-secondary) );
                border-radius: var(--flow-300);
                box-shadow: var(--flow-100) var(--flow-100) 0 hsl( var(--clr-black) / .15 );
                margin: 0;
                padding: var(--flow-300);
                position: relative;
                width: 100%;
            
                @include media('>=desktop') {

                    &.single {
                        margin-bottom: var(--flow-400);
                    }

                    &::before {
                        background-color: hsl( var(--clr-white) );
                        border-left: var(--flow-50) solid hsl( var(--clr-secondary) );
                        border-bottom: var(--flow-50) solid hsl( var(--clr-secondary) );
                        content: '';
                        width: 25px; 
                        height: 25px;
                        position: absolute;
                        left: -15px;
                        top: 50px;
                        transform: rotate(45deg);
                    } // .word-balloon::after
                }

                // Special Styling based on post type
                // --------------------------------------------------------
                //
                &.picture {
                    border-color: hsl( var(--clr-quaternary) );

                    & > article {

                        h1, h2, h3, h4, h5, h6, a {
                            color: hsl( var(--clr-quaternary) );
                        }

                        a::after {
                            background-color: hsl( var(--clr-quaternary) );
                        }
                    }

                    &::before {
                        border-color: hsl( var(--clr-quaternary) );
                    }

                    & > aside {
                        background-color: hsl( var(--clr-quaternary ) );
                        border-color: hsl( var(--clr-quaternary) );
                    }
                }

                &.link {
                    border-color: hsl( var(--clr-quinary) );

                    & > article {
                        
                        h1, h2, h3, h4, h5, h6, a {
                            color: hsl( var(--clr-quinary) );
                        }

                        a::after {
                            background-color: hsl( var(--clr-quinary) );
                        }
                    }

                    &::before {
                        border-color: hsl( var(--clr-quinary) );
                    }

                    & > aside {
                        background-color: hsl( var(--clr-quinary ) );
                        border-color: hsl( var(--clr-quinary) );
                    }
                }

                &.video {
                    border-color: hsl( var(--clr-tertiary) );

                    & > article {
                        
                        h1, h2, h3, h4, h5, h6, a {
                            color: hsl( var(--clr-tertiary) );
                        }

                        a::after {
                            background-color: hsl( var(--clr-tertiary) );
                        }
                    }

                    &::before {
                        border-color: hsl( var(--clr-tertiary) );
                    }

                    & > aside {
                        background-color: hsl( var(--clr-tertiary ) );
                        border-color: hsl( var(--clr-tertiary) );
                    }
                }

                & > article {
                    margin-bottom: calc( var(--flow-200) * 20 );
                    width: 100%;
                    
                    @include media('>=desktop') {
                        margin-bottom: 0;
                        width: 60%;
                    }

                    h1, h2, h3, h4, h5, h6 {
                        color: hsl( var(--clr-secondary) );
                        font-family: var(--ff-sans);
                        line-height: 100% !important;
                        text-shadow: -1px -1px 0 hsl( var(--clr-black) / .3 );

                        > a {
                            line-height: inherit;
                            padding: 0;
                        }
                    }

                    h3 {
                        font-size: var(--fs-400);
                    }

                    h4, h5, h6 {
                        font-size: var(--fs-300);
                    }

                    hr {
                        margin: 0 0 var(--flow-200) 0;
                    }

                    ul, ol {
                        padding-left: var(--flow-400);

                        & > ::marker {
                            color: hsl( var(--clr-secondary) );
                        }

                        & > li {
                            margin: 0;
                            padding: var(--flow-200);
                        }

                        & > li:nth-child(even) {
                            background-color: hsl( var(--clr-black) / .1 );
                        }
                    }

                    img {
                        margin-bottom: var(--flow-200);
                        width: 100%;

                        @include media('>=desktop') {
                            max-width: 300px;
                        }

                        &.polaroid {
                            border: 10px solid hsl( var(--clr-white) / 1);
                            box-shadow: 5px 5px 10px hsl( var(--clr-black) / .2);
                            filter: sepia(1);
                            height: auto;
                            transition: all 500ms ease-in-out;

                            &:hover {
                                filter: none;
                            }
                        }
                    }

                    .alignleft,
                    .alignright,
                    .aligncenter {
                        display: block;
                        float: none;

                        @include center-margins;

                        > * {
                            margin: 0 !important;
                        }

                        &:hover::after {
                            display: none;
                        }
                    }
                    
                    @include media('>=desktop') {
                        .alignleft {
                            float: left;
                            margin: 0;
                            margin-right: var(--flow-300);

                            &.overflow {
                                margin-left: calc( var(--flow-400) * -1 );
    
                            }
                        }

                        .alignright {
                            float: right;
                            margin: 0;
                            margin-left: var(--flow-300);

                            &.overflow {
                                margin-right: calc( var(--flow-400) * -1.25 );
                            }
                        }
                    }
                }

                &.single > article {
                    width: 100%;
                }
    
                & > aside {
                    background-color: hsl( var(--clr-secondary ) );
                    border-bottom: var(--flow-50) solid hsl( var(--clr-secondary) );
                    border-top: var(--flow-50) solid hsl( var(--clr-secondary) );
                    border-bottom-right-radius: var(--flow-300);
                    border-bottom-left-radius: var(--flow-300);
                    height: calc( var(--flow-200) * 20);
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: -5px;
                    width: 100%;

                    @include media('>=desktop') {
                        border-radius: 0;
                        border: none;
                        border-left: var(--flow-50) solid hsl( var(--clr-secondary) );
                        border-right: var(--flow-50) solid hsl( var(--clr-secondary) );
                        border-bottom-right-radius: var(--flow-300);
                        border-top-right-radius: var(--flow-300);
                        height: auto;
                        left: auto;
                        right: -5px;
                        top: 0;
                        bottom: 0;
                        width: 40%;
                    }
    
                    & > img {
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }

                    & > iframe {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// 6.1.1 Articles List for Blog Page
// #blog #articles
// --------------------------------------------------------
// .blog .articles {}

// 6.2 Article Meta
// #article #meta
// --------------------------------------------------------
.meta {
    color: hsl( var(--clr-black) / .5);
    padding-left: var(--flow-200);
    padding-top: var(--flow-200);
    text-shadow: 1px 1px 0 hsl( var(--clr-white) );
    
    span {
        display: block;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include media('>=desktop') {
            display: inline-block;
            margin-right: var(--flow-200);
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    a {
        margin-right: var(--flow-100);

        &:last-of-type {
            margin-right: 0;
        }
    }
}

// 6.3 Full Article Page
// #full-article
// --------------------------------------------------------
// body.article {}

// 6.4 Tags
// #tags
// --------------------------------------------------------
.tags {
    padding: 0 var(--flow-100);

    > span {
        display: inline-block;
        padding-bottom: var(--flow-100);
        padding-right: var(--flow-100);
        text-shadow: 1px 1px 0 hsl( var(--clr-white) / .5);
        white-space: nowrap;
    }
}

// 6.4 Pagination
// #pagination
// --------------------------------------------------------
.pagination {
    margin-top: var(--flow-600);

    &__inner.grid {
        justify-content: start;
        width: 100%;

        a.btn[data-direction="forwards"] {
            justify-self: start;
        }

        a.btn[data-direction="backwards"] {
            justify-self: end;
        }
    }
}