@use 'helpers/' as *;
/* --------------------------------------------------------
6.0 Blog
    ├── 6.1 Articles List
    |   └── 6.1.1 Articles List for Blog Page
    ├── 6.2 Article Meta
    ├── 6.3 Main Article Page
    ├── 6.4 Tags
    └── 6.5 Pagination
-------------------------------------------------------- */

/* --------------------------------------------------------
6.0 Blog
#blog
-------------------------------------------------------- */

// 6.1 Articles List
// #articles
// --------------------------------------------------------
.articles {
    min-height: 100vh;
    padding: 0 0 0 calc( var(--flow-200) * 1.5 );
    width: 95%;

    @include center-margins;

    @include media('>=desktop') {
        padding-top: var(--flow-300);
    }

    .section-title {
        font-size: var(--fs-100);
    }

    .articles__list {
        list-style: none;
        margin: 0;
        padding: 0 0 var(--flow-600) 0;

        @include media('>=desktop') {
            padding-bottom: 0;
        }

        li {
            margin: 0 0 var(--flow-300) 0;
            padding: 0;

            .container__inner {
                background-color: hsl( var(--clr-white) );
                background-image: linear-gradient(transparent, hsl( var(--clr-black)/.075 ));
                border-radius: var(--flow-300);
                box-shadow: 2px 2px 4px hsl( var(--clr-black) / .5 );
                margin: 0;
                padding: var(--flow-300);
                position: relative;
                width: 100%;
            
                @include media('>=desktop') {

                    &.single {
                        margin-bottom: var(--flow-400);
                    }

                    &::before {
                        background-color: hsl( var(--clr-white) );
                        content: '';
                        width: 30px; 
                        height: 30px;
                        position: absolute;
                        left: -15px;
                        top: 50px;
                        transform: rotate(45deg);
                    } // .word-balloon::after
                }

                & > article {
                    margin-bottom: calc( var(--flow-200) * 20 );
                    min-height: var(--flow-900);
                    width: 100%;
                    
                    @include media('>=desktop') {
                        margin-bottom: 0;
                        width: 55%;
                    }

                    h1, h2, h3, h4, h5, h6 {
                        color: hsl( var(--clr-secondary) );
                        font-family: var(--ff-sans);
                        line-height: 100% !important;
                        text-shadow: -1px -1px 0 hsl( var(--clr-black) / .3 );

                        > a {
                            line-height: inherit;
                            padding: 0;
                        }
                    }

                    h3 {
                        font-size: var(--fs-400);
                    }

                    h4, h5, h6 {
                        font-size: var(--fs-300);
                    }

                    p {
                        line-height: 175%;
                    }

                    hr {
                        margin: 0 0 var(--flow-200) 0;
                    }

                    ul, ol {
                        padding-left: var(--flow-400);

                        & > ::marker {
                            color: hsl( var(--clr-secondary) );
                        }

                        & > li {
                            margin: 0;
                            padding: var(--flow-200);
                        }

                        & > li:nth-child(even) {
                            background-color: hsl( var(--clr-black) / .1 );
                        }
                    }

                    [class^="link"] {
                        margin-top: var(--flow-200);
                    }

                    img {
                        margin-bottom: var(--flow-200);
                        width: 100%;

                        @include media('>=desktop') {
                            max-width: 300px;
                        }

                        &.polaroid {
                            border: 10px solid hsl( var(--clr-white) / 1);
                            box-shadow: 5px 5px 10px hsl( var(--clr-black) / .2);
                            filter: sepia(1);
                            height: auto;
                            transition: all 500ms ease-in-out;

                            &:hover {
                                filter: none;
                            }
                        }
                    }

                    .alignleft,
                    .alignright,
                    .aligncenter {
                        display: block;
                        float: none;

                        @include center-margins;

                        > * {
                            margin: 0 !important;
                        }

                        &:hover::after {
                            display: none;
                        }
                    }
                    
                    @include media('>=desktop') {
                        .alignleft {
                            float: left;
                            margin: 0;
                            margin-right: var(--flow-300);

                            &.overflow {
                                margin-left: calc( var(--flow-400) * -1 );
    
                            }
                        }

                        .alignright {
                            float: right;
                            margin: 0;
                            margin-left: var(--flow-300);

                            &.overflow {
                                margin-right: calc( var(--flow-400) * -1.25 );
                            }
                        }
                    }
                }

                &.single > article {
                    width: 100%;
                }
    
                & > aside {
                    border-bottom-right-radius: var(--flow-300);
                    border-bottom-left-radius: var(--flow-300);
                    height: calc( var(--flow-200) * 20);
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;

                    @include media('>=desktop') {
                        border-radius: 0;
                        border-bottom-right-radius: var(--flow-300);
                        border-top-right-radius: var(--flow-300);
                        height: auto;
                        left: auto;
                        right: -5px;
                        top: 0;
                        bottom: 0;
                        width: 40%;
                    }
                    
                    & > img {
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }

                    & > iframe {
                        height: 100%;
                        width: 100%;
                    }

                    & > a {
                        height: 100%;
                        width: 100%;

                        img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }
            }
        }

        li.first {
            .container__inner {
                background-color: hsl(41, 100%, 98%);

                @include media('>=desktop') {
                    &::before {
                        background-color: hsl(41, 100%, 98%);
                    }
                }

                & > article {
                    margin-bottom: 0;

                    @include media('>=desktop') {
                        width: 60%;
                    }

                    h2 {
                        color: hsl( var(--clr-black) / .8 );
                        font-family: var(--ff-display);
                        font-size: var(--fs-500);
                        margin-bottom: var(--flow-300);
                    }

                    [class^=link] {
                        display: block;

                        @include media('>=desktop') {
                            display: inline-block;
                        }
                    }
                }

                & > aside {
                    display: none;

                    @include media('>=desktop') {
                        display: block;
                        padding: calc( var(--flow-200) * 2);
                    }

                    img {
                        object-fit: contain;
                    }
                }
            }
        }

    }
}

// 6.1.1 Articles List for Blog Page
// #blog #articles
// --------------------------------------------------------
// .blog .articles {}

// 6.2 Article Meta
// #article #meta
// --------------------------------------------------------
.meta {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size, 16rem), 1fr)
    );
    grid-gap: var(--flow-50);

    @include media('>=desktop') {
        display: revert;
    }

    color: hsl( var(--clr-black) / .5);
    padding-left: var(--flow-200);
    padding-top: var(--flow-100);
    text-shadow: 1px 1px 0 hsl( var(--clr-white) );
    
    span {
        display: block;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include media('>=desktop') {
            display: inline-block;
            margin-right: var(--flow-200);
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    a {
        margin-right: var(--flow-100);

        &:last-of-type {
            margin-right: 0;
        }
    }
}

// 6.3 Full Article Page
// #full-article
// --------------------------------------------------------
// body.article {}

// 6.4 Tags
// #tags
// --------------------------------------------------------
.tags {
    margin: var(--flow-300) 0;
    padding: 0 var(--flow-100);

    > span {
        display: inline-block;
        padding-right: var(--flow-100);
        text-shadow: 1px 1px 0 hsl( var(--clr-white) / .5);
        white-space: nowrap;
    }
}

h2.headline-tags {
    color: hsl( var(--clr-black) / .35 );
    font-family: var(--ff-sans);
}

// 6.4 Pagination
// #pagination
// --------------------------------------------------------
.pagination {
    margin-top: var(--flow-600);

    &__inner.grid {
        justify-content: start;
        width: 100%;

        a.btn[data-direction="forwards"] {
            justify-self: start;
        }

        a.btn[data-direction="backwards"] {
            justify-self: end;
        }
    }
}