---
pagination:
  data: collections.blogCategories
  size: 1
  alias: category
permalink: /category/{{ category.slug }}/index.html
---
{% extends "base.njk" %}

{% block content %}

  <h2>Blog category: {{ category.title }}</h2>
  <section class="articles all">
  {% set posts = collections.blogposts | include("data.categories", category.title) %}
  {% for post in posts %}
    {% if loop.first %}
    <ul role="list" class="articles__list flow">
    {% endif %}
        <li>
          <article>
            <p><time datetime="{{ post.date | date('YYYY-MM-DD') }}">{{ post.date | date("MMMM Do, YYYY") }}</time></p>
            <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
          </article>
        </li>
    {% if loop.last %}
    </ul>
    {% endif %}
  {% endfor %}
  </section>

  <h3>Categories</h3>
  {% for category in collections.blogCategories %}
    {% if loop.first %}<ul><li><a href="/blog/">All</a></li>{% endif %}

    <li>
      <a href="/blog/category/{{ category.slug }}">{{ category.title }}</a>
    </li>

    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

{% endblock %}