---
layout: 'articles-feed.njk'
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - featured
    - pages
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

<ol role="list">
{% set taglist = collections.blog[ tag ] %}
{% for post in taglist | reverse %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ol>