---
layout: 'articles-feed.njk'
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - featured
    - pages
eleventyComputed:
  title: Tagged with “{{ tag }}”
permalink: /tags/{{ tag }}/
---

<h2 class="headline-tags text-center p-t-400 m-b-200 tt-caps">{{ title }}</h2>

<!--
<ol role="list">
  {% set taglist = collections.blog[ tag ] %}
  {% for post in taglist | reverse %}
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ol>
-->